nav {
    height: 50px;
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 16px;


    a {
            color: #000;
            text-decoration: none;
        }
   
}